/*================================================================================
	Item Name: Stack - Responsive Admin Theme
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
textarea{height: 65px;
		resize: none;}


.navbar-dark{
	background: #518a87;
}
.nav.nav-tabs.nav-underline{
	border-bottom: 1px solid #518a87;
}
.nav.nav-tabs.nav-underline .nav-item a.nav-link{
	color: #518a87;
}
.nav.nav-tabs.nav-underline .nav-item a.nav-link:hover, .nav.nav-tabs.nav-underline .nav-item a.nav-link:focus{
	color: #518a87;
}

.nav.nav-tabs.nav-underline .nav-item a.nav-link:before{
	background: #518a87;
}
.main-menu.menu-light .navigation > li ul .active > a{
	color: #518a87;
}


.nav-vertical .nav-left.nav-tabs.nav-border-left li.nav-item a.nav-link.active{
	border-left: 3px solid #518a87;
}
.nav-vertical .nav-left.nav-tabs.nav-border-left li.nav-item a.nav-link{
	color: #518a87;
}



.tableFixHead          { overflow-y: auto; height: 100px; }
.tableFixHead thead th { position: sticky; top: 0; }

/* Just common table stuff. Really. */
.tableFixHead th, td { padding: 8px 16px; }
.tableFixHead th {background:#eee; }

.custom-select:focus {
border-color: #518a87;
box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 1px rgba(57, 252, 255, 0.5); }
.custom-select:focus::-ms-value {
  color: #4E5154;
  background-color: #fff; 
}


.btn-warning{
	background-color: #6d6d6d !important;
	border-color: #6d6d6d !important;
	color: white;
}

.btn-primary{
	background-color: #275355 !important;
	border-color: #275355 !important;
	color: white;
}

.btn-warning:hover{
	background-color: #6d6d6d !important;
	border-color: #6d6d6d !important;
	color: white;
}
.btn-primary:hover{
	background-color: #275355 !important;
	border-color: #275355 !important;
	color: white;
}

.btn-outline-secondary:hover{
	background-color: #6d6d6d !important;
	border-color: #6d6d6d !important;
	color: white;
}


.btn-outline-primary:hover{
	background-color: #275355 !important;
	border-color: #275355 !important;
	color: white;
}

.btn-outline-primary{
	border-color: #275355 !important;
	color: #275355;
}